google-api-python-client==2.108.0
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.1.0
pandas==2.1.4
reportlab==4.0.7
python-dateutil==2.8.2
tqdm==4.66.3
flask==3.1.3
flask-cors==6.0.0
PyPDF2==3.0.1
pillow>=10.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=1.26.19 # not directly required, pinned by Snyk to avoid a vulnerability
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
pyasn1>=0.6.2 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=2.3.8 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability